@model IEnumerable<TimestampsWeb.ViewModels.ProjectViewModel>

@{
    ViewBag.Title = "Projects";
}

<h2>My projects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th></th>
    </tr>
    <tbody class="myprojects">
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Projects", new {id=item.Id})" class="editLink">Edit</a>
                </td>
            </tr>
        }
    </tbody>

</table>