@model TimestampsWeb.ViewModels.ProjectViewModel

<h2>@ViewBag.Title</h2>
<div>
    @if (Model.IsArchived) {
        <span id ="labelArchived" class="label label-warning pull-right">Archived</span>
        <button id="restore" class="btn btn-link pull-right">Restore</button>
        <button id="archive" class="btn btn-link pull-right hide">Archive</button>

    }
    else {
        <span id ="labelArchived" class="label label-warning pull-right hide">Archived</span>
        <button id="restore" class="btn btn-link pull-right hide">Restore</button>
        <button id="archive" class="btn btn-link pull-right">Archive</button>

    }

</div>

@using (Html.BeginForm(Model.Action, "Projects")) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.IsArchived)
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        <div>
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        <div>
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#archive").click(function (e) {
                if (confirm("Are you sure you want to archive this project?")) {
                    $.ajax({
                        url: "/api/archiveproject/" + $("input[id]").attr("value"),
                        method: "POST"
                    })
                        .done(function () {
                            $("#IsArchived").value = "true";
                            $("#labelArchived").removeClass("hide");
                            $("#restore").removeClass("hide");
                            $("#archive").addClass("hide");
                        })
                        .fail(function () {
                            alert("Something failed.");
                        });
                }
            });
                $("#restore").click(function (e) {
                    if (confirm("Are you sure you want to restore from archive this project?")) {
                        $.ajax({
                            url: "/api/archiveproject/" + $("input[id]").attr("value"),
                            method: "DELETE"
                        })
                            .done(function () {
                                $("#IsArchived").value = "false";
                                $("#labelArchived").addClass("hide");
                                $("#restore").addClass("hide");
                                $("#archive").removeClass("hide");
                            })
                            .fail(function () {
                                alert("Something failed.");
                            });
                    }

            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}